* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #002d61;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container p {
    font-size: 19px;
}

.container .birthday {
    color: #7d7d7d;
    width: 339px;
}

h1 {
    color: #0d4e94;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
}

button {
    background:  #0d4e94;
    color: whitesmoke;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

button:hover {
    background: #0a132c;
}

p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.subtitle {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.container p {
    margin-bottom: 15px;
}

button a {
    color: whitesmoke;
}
.alert {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.container p a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
.container p a:hover {
    text-decoration: underline;
}
